<div class="model_name">{{model.name}}</div>
<div class="room">{{model.room}}</div>

<div class="speakers">
  {{#each speaker in model.speakers}}
    <span class="name">{{speaker.name}}</span>
    <span class="link">{{#linkTo 'speaker' speaker}}View Speaker Details{{/linkTo}}</span>
  {{/each}}
</div>

<div class="ratings">
  {{#each rating in model.ratings}}
    <span class="score">{{rating.score}}</span>
    <span class="feedback">{{rating.feedback}}</span>
    <button {{action deleteRating rating}}>Delete Rating</button><br />
  {{/each}}
</div>

<div>
  {{input class='score' placeholder='score' value=score}}
  {{input class='feedback' placeholder='feedback' value=feedback}}
  <button class="add_rating" {{action addRating model}}>Add Rating</button>
</div>

<div>
  {{input class='speaker_name' placeholder='speaker name' value=speaker}}
  {{input class='speaker_location' placeholder='speaker location' value=location}}
  <button class="add_speaker" {{action addSpeaker model}}>Add Speaker</button>
  <button class="add_speaker_with_single_parent" {{action addSpeakerWithSingleParent model}}>Add Speaker</button>
  <button class="add_speaker_with_user_single_parent" {{action addSpeakerWithUserSingleParent model}}>Add Speaker</button>
</div>
