  {{input class="name" value=name}}<br />
  <div id="name-errors">{{#each errors.name}}{{this}}{{/each}}</div><br />
  {{input class="location" value=location}}<br />
  <button class="update" {{action 'updateSpeaker' model}}>Update Speaker</button><br />

  {{#each persona in model.personas}}
    {{persona.nickname}}<br />
  {{/each}}

  {{#each badge in model.badges}}
    <span {{bind-attr class="badge.city"}}>{{badge.city}}</span><br />
  {{/each}}
